<!-- About Section -->
<section class="page-section bg-info" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8  text-justify ">
                <h2 class="text-white mt-0  text-center">Serving community since 2005</h2>
                <hr class="divider light my-8 text-center">
                <h3 class="text-white mt-0">Vision</h3>
                <p>
                    To produce a generation of talented Ulama (Scholars of sacred knowledge), who understand the Islamic
                    way of life from the most authentic sources, and in accordance with Islam’s own intellectual
                    heritage. Furthermore, to cultivate exemplary representatives of Islam who will contribute to the
                    social, economic, and intellectual development of all communities, thus enriching the societies they
                    live in.
                </p>

                <h3 class="text-white mt-0"> Our Niyyah</h3>
                <p class="row justify-content-center">
                <ul>
                    <li>Preserve the practices of the Prophet ﷺ and his beloved companions, by teaching sacred knowledge
                        through traditional Islamic methods.
                    </li>
                    <li>DarulUloom of Seattle trains students in Islamic thinking and reasoning. Thus, establishing a
                        sound intellect and knowledge of Allah (swt)
                    </li>
                    <li>The love of Allah (swt) is nurtured which shapes the internal drive of students to serve the
                        sacred religion and its communities
                    </li>
                    <li>Provide an opportunity to parents who want to educate their children in an Islamic environment
                    </li>
                    <li>Through shared responsibility of the institution, the students and their families, students will
                        not only excel in education, but will also practice the Sunnah of our Prophet Mohammed ‎ﷺ as
                        closely
                        as possible
                    </li>
                </ul>
                </p>

                <h3 class="text-white mt-0">Mission</h3>
                <p>
                    Our mission is to provide an opportunity for all individuals to study the sacred sciences,
                    regardless of age, gender, location and availability. People have this zeal to pursue sacred
                    knowledge, however accommodations, accessibility, and responsibilities make it difficult to access
                    or complete the programs. Thus, we realized that we needed to provide the resources to access
                    religious studies to the various layers of our society. The purpose is to preserve the upcoming
                    generations in America by educating them in Islamic and/or secular education with true scholarship.
                    An educational foundation, in Islamic studies, for all members of our society is the first step to
                    the preservation of the religion. Once a basis of true knowledge is established, the message of
                    Islam can be passed on to others in a secure and effective manner.

                    The objective is to develop the means to transmit and practice the Islamic principles set by the
                    Quran and Sunnah to others. The sacred sciences of knowledge, provided from the Quran and Sunnah,
                    are used as the central authority and guidance to Muslims. In addition, they are the primary sources
                    of studies in our educational programs. By the guidance of educated scholars, the values of Islam
                    may be passed on from teacher to student, to continue the learning cycle.

                </p>

            </div>
        </div>
    </div>
</section>
