<!-- Contact Section -->
  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white" id="donate">
    <div class="container text-center">
      <h2 class="mb-4 text-success">Help Us serve the comunity!</h2>
      <p>Darul Uloom has been striving on the prayers and donations of Muslims comunity.</p>

       <h1>
                Donate online using Paypal
            </h1>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="XCW9AS32AWTJG">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                width="1" height="1">
            </form>
<p><h1></h1></p>

            <h1> Donate online via e-check</h1>
                  <form name='achCheckout' id='achCheckout' method='post' action='https://www.firstach.com/CheckOut/ACHDispatch.aspx' target='_blank'>
                    <div align ='center'>
                      <img style='margin: 4px 0 0 20px;' src='https://www.firstach.com/Images/checkout_by_firstach.gif' border='0'/>
                      <br/><input type= submit value='CheckOut!' name='btnSubmit' />
                      <input type='hidden' name='MID' value='xXzwkMmOOHOEwE4+3feMIw==' />
                    </div>
                  </form>

            <h1></h1>
            <h1> Donate via regular check </h1>
            <p> Please send your tax deductable donations payable to “Darul Uloom”. </p>
            <p> Mail you check to: </p><p>{{site.org.contact.address}}</p>
      
    </div>
  </section>

