<!-- Contact Section -->
<!-- Call to Action Section -->
<section class="page-section bg-dark text-white" id="donate">
    <div class="container text-center">
        <h2 class="mb-4 text-success">Help Us serve the comunity!</h2>
        <p>Darul Uloom has been striving on the prayers and donations of Muslims comunity.</p>
        <div class="row w-50"></div>
        <div class="row w-50"></div>
        <div class="row">
            <div class="col-5">
                <h4>Paypal</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="XCW9AS32AWTJG">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                           border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                         width="1" height="1">
                </form>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h4>via e-check</h4>
                <form name='achCheckout' id='achCheckout' method='post'
                      action='https://www.firstach.com/CheckOut/ACHDispatch.aspx' target='_blank'>
                    <div align='center'>
                        <img style='margin: 4px 0 0 20px;'
                             src='https://www.firstach.com/Images/checkout_by_firstach.gif'
                             border='0'/>
                        <br/><input type=submit value='CheckOut!' name='btnSubmit'/>
                        <input type='hidden' name='MID' value='xXzwkMmOOHOEwE4+3feMIw=='/>
                    </div>
                </form>
            </div>

        </div>
        <div class="row " style="height: 20px"></div>
        <div class="row">
            <h4 class="text-center"> Regular check </h4>
        </div>
        <div  class="row">Please send your tax deductible donations payable to “Darul Uloom”</div>
        <div class="row">Mail your check to:</div>
        <div class="row">{{site.org.contact.address}}</div>

    </div>
</section>

