<!-- Masthead -->
<header class="masthead">
  <div class="container">
    <div class="row h-auto align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">{{site.title}}</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Learn Authentic Islamic knowledge</p>
        <p>
          <a href="." ><img style="width: auto; height: 65vh" src="/assets/images/mainflyer.jpeg" /></a>
        </p>

        <a class="btn btn-primary btn-xl js-scroll-trigger" style="height: 5vh" href="https://forms.gle/qZZm63mjz7Jd9gAf6">Register for Girls Evening Maktab </a>
        <a class="btn btn-info btn-xl js-scroll-trigger" style="border-width: 4px; height: 5vh" href="#about">Find Out More about Darul Uloom</a>
        <a style="display: none" class="btn btn-success btn-xl js-scroll-trigger"href="https://docs.google.com/forms/d/e/1FAIpQLSeSQOf0ILEw15mvbGlNOnkUz3s8oE1eFRb0bK4zmXyj9YlIYg/viewform">Please click here for registration</a>
      </div>
    </div>
  </div>
</header>
