<!-- Services Section -->
<section class="page-section" bg-light id="programs">
    <div class="container">
        <h2 class="text-center mt-0">Programs offered</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Girls Alima</h3>
                    <p class="text-muted mb-0">Comprehensive study of the Islamic knowledge, the breadth of which
                        includes expertise in: Arabic grammar, Literature, Tafseer al-Qur’an, Hadith, Islamic Law (Fiqh)
                        and Islamic History. </p>
                    <a class=" btn-primary" data-toggle="collapse" href="#alimahdetails" role="button"
                       aria-expanded="false" aria-controls="alimahdetails">More details...</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Boys Alim</h3>
                    <p class="text-muted mb-0">Comprehensive study of the Islamic knowledge, the breadth of which
                        includes expertise in: Arabic grammar, Tajweed, Literature, Tafseer Al-Qur’an, Hadith, Islamic
                        Law (Fiqh), and Islamic History.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Summer Program</h3>
                    <p class="text-muted mb-0"></p>
                </div>
            </div>
        </div>
        <div class="row" style="height: 20px"></div>
        <div class="row collapse text-justify" id="alimahdetails">
            <p>The Aalima program aims to build a firm groundwork in religious studies, fostering balance in faith, and
                exemplifying honorable moral character. The Aalima Program is a comprehensive seven-year curriculum that
                focuses on classical Islamic sciences and thought. Our principal objective is to familiarize students
                with the core subjects of Arabic, Quran, History, and Hadith, with the ultimate goal of providing
                different pathways suited for all persons to succeed in this life and the next.</p>
            <h2>Full details</h2>
            <p>Sincerely learning the sacred Islamic sciences results in a physical, mental, and spiritual journey that
                strengthens the sacred and divine bond between a Muslim and Allah ﷻ. The aalim program aims to build a
                firm groundwork in religious studies, fostering balance in faith, and exemplifying honorable moral
                character. The Aalim Program is a comprehensive seven-year curriculum that focuses on classical Islamic
                sciences and thought. Our principal objective is to familiarize students with the core subjects of
                Arabic, Quran, History, and Hadith, with the ultimate goal of providing different pathways suited for
                all persons to succeed in this life and the next.
                Our mission is to instill the love of Allah ﷻ and His Prophet ﷺ, the holy principles of deen in each
                student at the completion of this program. Graduates will possess the necessary experience and ability
                to serve as an Imam, scholar, activist, counselor, youth leader, teacher, etc. They will be entrusted to
                continuously build a positive Muslim identity, as well as a commitment to their religion, family, and
                community.</p>
            <h2>Curriculum</h2>
            <p>Our courses are intensively packed to cover all required core subjects and books found in true
                traditionally grounded Islamic studies program. The program aims to build an extensive knowledge of
                Arabic grammar and rhetoric aiding in the learning of the principles of Quran exegesis, hadith, Islamic
                jurisprudence, and theological studies. Our classical teaching method emphasizes teacher-student
                interaction and provides the privilege to learn from esteemed Muslim scholars. Our small class size with
                reputable male and female teachers provide an ideal environment for promoting authentic connection to
                Islamic learning and the transmission of religious knowledge directly from teacher to student.
                Taught by certified scholars in a traditional setting, the Aalim Program relates the teachings and
                practices of the Prophet Muhammad ﷺ. The program aims to transmit the knowledge and discipline in a
                well-balanced method, training students not only to comprehend, but practice and pass on Islamic
                knowledge. At completion, students will be awarded a certificate (ijazah) proclaiming their
                qualifications in the various studies in Islamic sciences.
            </p>
            <h2>Schedule</h2>
            <p>The student's daily schedule consists of classes Monday - Thursday from 8:00 am until 1:30 pm year-round.
                Each day students will rotate between 4 to 6 classes. The school year begins early September and ends
                late July. There are no classes in Ramadhan.</p>
            <h2>Courses</h2>
            <p>
            <ul>
                <li>Usul al-Fiqh (Principles of Islamic Jurisprudence)</li>
                <li>Hadith (Prophetic Traditions)</li>
                <li> Tafsir al-Quran (Exegesis)</li>
                <li>Sirah (Prophetic Biography)</li>
                <li>Arabic Grammar (Syntax and Morphology)</li>
                <li>Arabic Literature (Speech, Composition, and Rhetoric)</li>
                <li>Islamic Theology (Aqidah)</li>
                <li>Fiqh (Jurisprudence)</li>
                <li>Logic (Mantiq)</li>
            </ul>
            </p>
        </div>
        <div class="row " id="enrollment">
            <h3>Enrollment Process</h3>
            <p></p>
            <p>The admissions process begins with our online application, which is accessible 24 hours a day, 7 days a
                week. We practice "rolling admission," where applications are saved until our next admission interview
                season. You may apply to DarulUloom Seattle at any time, however, you will be contacted when the
                admission process opens during the summer months. If you are applying for a specific term, please adhere
                to the application submission dates.
            </p>
            <a class="btn btn-success btn-xl js-scroll-trigger"
               href="https://docs.google.com/forms/d/e/1FAIpQLSeSQOf0ILEw15mvbGlNOnkUz3s8oE1eFRb0bK4zmXyj9YlIYg/viewform">Please
                click here for registration</a>
        </div>
    </div>
</section>
