<!-- Services Section -->
<section class="page-section" bg-light id="programs">
  <div class="container">
    <h2 class="text-center mt-0">Programs offered</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem text-primary mb-4"></i>
          <h3 class="h4 mb-2">Girls Alima</h3>
          <p class="text-muted mb-0">Comprehensive study of the Islamic knowledge, the breadth of which includes expertise in:  Arabic grammar, Literature, Tafseer al-Qur’an, Hadith, Islamic Law (Fiqh) and Islamic History. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
          <h3 class="h4 mb-2">Boys Alim</h3>
          <p class="text-muted mb-0">Comprehensive study of the Islamic knowledge, the breadth of which includes expertise in:  Arabic grammar, Tajweed, Literature, Tafseer Al-Qur’an, Hadith, Islamic Law (Fiqh), and Islamic History.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2">Summer Program</h3>
          <p class="text-muted mb-0"></p>
        </div>
      </div>
    </div>
    <div class="row" style="height: 20px"></div>
    <div class="row">
       <a class="portfolio-box" >

          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Category
            </div>
            <div class="project-name">
             <p>Please contact Darul Uloom if interested in joining offered program</p>
             <a class="btn btn-success btn-xl js-scroll-trigger" href="#contact">Contact us!</a>
            </div>
          </div>
        </a>

    </div>
  </div>
</section>
