<!-- Resources Section -->
<section class="page-section bg-info" id="resources">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Resources</h2>
                <hr class="divider light w-50" />
                <div class="row" style="height: 10px"></div>
                <div class="list-group">
                    <a href="assets/docs/calendar_20_21.pdf"              target="_blank" class="list-group-item list-group-item-action"><u>Academic Calendar</u></a>
                    <a href="assets/docs/covid_family_checklist.pdf"      target="_blank" class="list-group-item list-group-item-action"><u>Covid19 Family Checklist</u></a>
                    <a href="assets/docs/daily_covid_check.pdf"           target="_blank" class="list-group-item list-group-item-action"><u>Daily  Covid  check</u></a>
                    <a href="assets/docs/directdeposit.pdf" target="_blank" class="list-group-item list-group-item-action"><u>Direct Deposit Authorization</u></a>
                    <a href="assets/docs/newapp.pdf" target="_blank" class="list-group-item list-group-item-action"><u>New Student Application</u></a>
                    <a href="assets/docs/handbook_2020.pdf"               target="_blank" class="list-group-item list-group-item-action"><u>Parent Student Handbook</u></a>
                    <a href="assets/docs/handbook_ack.pdf"                target="_blank" class="list-group-item list-group-item-action"><u>Parent Student Handbook Acknowledgment form</u></a>
                    <a href="assets/docs/risk_waiver_liability.pdf"        target="_blank" class="list-group-item list-group-item-action"><u>Assumption of the Risk and Waiver of Liability form</u></a>
                </div>

            </div>
        </div>
    </div>
</section>
